/* Styles for Cronus Flow sidebar */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  background-color: #bbdfff;
}

#sidebar-container {
  max-width: 300px;
}

.kauadima3 {
  background-color: #d34bc5;
  height: 400px;
  font-size: 75px;
}

h1 {
  color: #333;
  font-size: 18px;
}

p {
  color: #666;
}

#content {
  margin-top: 20px;
}